includes:
  - '%currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon'
    
parameters:
  paths:
    - ../../src
    - ../../config
    - ../../controllers
    - ../../inpostizi.php
    - Rules
  universalObjectCratesClasses:
    - Cookie
  reportUnmatchedIgnoredErrors: false
  phpVersion: 70205
  level: 5
  treatPhpDocTypesAsCertain: false
  scanDirectories:
    - fixtures
  ignoreErrors:
    - '#^Property [a-zA-Z]+Core::\$[a-zA-Z_]+ \(.+\) on left side of \?\? is not nullable\.$#' # ObjectModel properties may not be set
    - '#^Property [a-zA-Z]+Core::\$[a-zA-Z_]+ \(.+\) in isset\(\) is not nullable\.$#' # ObjectModel properties may not be set
    - '#^Parameter \#1 \$amount_paid of method OrderCore::addOrderPayment\(\) expects string, float given\.$#'
    - '#^Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.$#'

services:
  -
    class: InPost\Izi\PHPStan\Rules\EnumExtension
    tags: [ phpstan.constants.alwaysUsedClassConstantsExtension ]
